<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dbpath" value="data source=10.11.30.155;port=3306;user=xushining;database=weighing"/>
    <add key="dbpath_d" value="data source=10.11.30.155;port=3306;user=xushining;database=weighing_test"/>
    <add key="dbkey" value="cgxB1WJe7pU46KD5jpW/GQ=="/>
  </appSettings>
</configuration>