<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="stock_connection" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=I:\0workspace\polypeptideInfo.accdb;Persist Security Info=False;Jet OLEDB:Database Password=4919.skFI" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
