<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="stock_connection" value="mM1MdK/wse6DIr34/hkVMbhjxPLaxO/n864m9Ci8v5q8z36z4En5aS3RJLrpGQ4TAv/DVWAZ3HPYQTO7X6I3VDRTnig2m8gXgZH68m9hGuaKJdCa2EXBsAgXEM/QjqqQOmATzQWow5tdzTOJAdSAwbYu4y/D7rpYPS+HHjucX1miTgZaYUPS7X5wdKU7d1IAoElMvos7gu0ErYawFk11eeqq5tOrTByU9jVZAdhATCVgZi6Vdi8McQmcAs1I4q/IEJ0dxiks5AczKNiDnFpBu0HCIIwVRdM/ivxr4k1ostO68LC+PLfj2jLqW3Gw9X/J8736ckDdrJ+ZnwokbV6uXA==" />
  </appSettings>
</configuration>